
bin/
*/*/target/

/bundles/com.emftriple/bin
/bundles/com.emftriple/.settings
/bundles/com.emftriple.jena/bin
/bundles/com.emftriple.jena/.settings
/bundles/com.emftriple.jpa/bin
/bundles/com.emftriple.jpa/.settings
/tests/com.emftriple.junit/.settings
/tests/com.emftriple.junit/bin
/bundles/com.emftriple.jpa
/tests/com.emftriple.junit/data/*


/bundles/com.emftriple.restlet/.settings
/bundles/com.emftriple.neo4j/.settings
/bundles/com.emftriple.sesame/.settings
/bundles/com.emftriple.neo4j
/bundles/com.emftriple.restlet/bin
/bundles/com.emftriple.sesame/bin
/tests/com.emftriple.sesame.junit/.settings
/examples/org.social.network
/tests/com.emftriple.junit/basetest
/tests/com.emftriple.junit/idtest
/tests/com.emftriple.junit/rest-test
/tests/com.emftriple.junit/data
tests/com.emftriple.jena.junit/data/GOSP.dat
tests/com.emftriple.jena.junit/data/GOSP.idn
tests/com.emftriple.jena.junit/data/GOSP.info
tests/com.emftriple.jena.junit/data/GPOS.dat
tests/com.emftriple.jena.junit/data/GPOS.idn
tests/com.emftriple.jena.junit/data/GPOS.info
tests/com.emftriple.jena.junit/data/GSPO.dat
tests/com.emftriple.jena.junit/data/GSPO.idn
tests/com.emftriple.jena.junit/data/GSPO.info
tests/com.emftriple.jena.junit/data/OSP.dat
tests/com.emftriple.jena.junit/data/OSP.idn
tests/com.emftriple.jena.junit/data/OSP.info
tests/com.emftriple.jena.junit/data/OSPG.dat
tests/com.emftriple.jena.junit/data/OSPG.idn
tests/com.emftriple.jena.junit/data/OSPG.info
tests/com.emftriple.jena.junit/data/POS.dat
tests/com.emftriple.jena.junit/data/POS.idn
tests/com.emftriple.jena.junit/data/POS.info
tests/com.emftriple.jena.junit/data/POSG.dat
tests/com.emftriple.jena.junit/data/POSG.idn
tests/com.emftriple.jena.junit/data/POSG.info
tests/com.emftriple.jena.junit/data/SPO.dat
tests/com.emftriple.jena.junit/data/SPO.idn
tests/com.emftriple.jena.junit/data/SPO.info
tests/com.emftriple.jena.junit/data/SPOG.dat
tests/com.emftriple.jena.junit/data/SPOG.idn
tests/com.emftriple.jena.junit/data/SPOG.info
tests/com.emftriple.jena.junit/data/node2id.dat
tests/com.emftriple.jena.junit/data/node2id.idn
tests/com.emftriple.jena.junit/data/node2id.info
tests/com.emftriple.jena.junit/data/nodes.dat
tests/com.emftriple.jena.junit/data/nodes.info
tests/com.emftriple.jena.junit/data/prefix2id.dat
tests/com.emftriple.jena.junit/data/prefix2id.idn
tests/com.emftriple.jena.junit/data/prefix2id.info
tests/com.emftriple.jena.junit/data/prefixIdx.dat
tests/com.emftriple.jena.junit/data/prefixIdx.idn
tests/com.emftriple.jena.junit/data/prefixIdx.info
tests/com.emftriple.jena.junit/data/prefixes.dat
tests/com.emftriple.jena.junit/data/prefixes.info
tests/com.emftriple.jena.junit/data/this.info